target/classes/parllelprocessing.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <vm:connector name="MyVM_Connector" validateConnections="true" doc:name="VM">
    <receiver-threading-profile maxBufferSize="200" threadTTL="10000"/>
    <dispatcher-threading-profile maxBufferSize=""/>
    	
    
    </vm:connector>
    <flow name="parllelprocessingFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/parllel" doc:name="HTTP"/>
        <byte-array-to-string-transformer doc:name="Byte Array to String"/>
        <request-reply doc:name="Request-Reply">
            <vm:outbound-endpoint exchange-pattern="one-way" path="RequestQ" doc:name="RequestQ"/>
            <vm:inbound-endpoint exchange-pattern="one-way" path="replyQ" doc:name="replyQ"/>
        </request-reply>
    </flow>
    <flow name="parllelprocessingFlow1">
        <vm:inbound-endpoint exchange-pattern="one-way" path="RequestQ" doc:name="RequestQ"/>
        <splitter expression="#[groovy:payload.readLines()]" doc:name="Splitter"/>
        <vm:outbound-endpoint exchange-pattern="one-way" path="bidsQ" doc:name="bidsQ" connector-ref="MyVM_Connector"/>
    </flow>
    <flow name="parllelprocessingFlow2">
        <vm:inbound-endpoint exchange-pattern="one-way" path="bidsQ" doc:name="bidsQ"/>
        <component class="com.mulesoft.EnricherAuctionComponent1" doc:name="Java"/>
        <collection-aggregator timeout="30000" failOnTimeout="false" doc:name="Collection Aggregator"/>
        <component doc:name="Java"/>
        <vm:outbound-endpoint exchange-pattern="one-way" path="replyQ" doc:name="replyQ"/>
    </flow>
</mule>
